header {
  max-height: 10rem;
  box-shadow: 0px 2.98256px 7.4564px rgb(0, 0, 0, 0.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

a {
  text-decoration: none;
  padding: 2rem;
  color: #75c6fb;
}

a:hover {
  color: #9475f9;
  font-size: larger;
}

.dFlex {
  display: flex;
}

.header-logo {
  max-height: 4rem;
  padding: 1rem
}

/* .nav {
  align-content: center;
} */

.links {
list-style: none;
display: inline-flex;
margin-top: 2.2rem;
} 

header select {
  display: none;
}

.custom-select{
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}

.menu {
  /* margin-top: 25%;
  margin-left: 20%; */
  align-items: center;
  background-color: #75c6fb;
  width: 5.5rem;
  padding: .5rem;
}


/* MEDIA QUERIES */

/* font-size */
 @media (max-width: 960px) {
  header {font-size: .75rem;}
}

/* font-size */
@media (max-width: 375px) {
  header {font-size: .4rem;}
} 


/* dropdownmenu */
@media (max-width: 767px) {
  header select {display: inline-block}
  header .links {display: none;} 
}

