.icon {
    important:  !important;
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
    margin-left:4px;
}

h4 {
    color:dimgrey
}

/* why won't the hover text change to indianred? */
/* I realise Ian will change the colours and style */
.footer-link {
    padding: 0;
    text-decoration: none;
}

.footerContainer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
}