h4 {
    color:dimgrey
}

/* why won't the hover text change to indianred? */
/* I realise Ian will change the colours and style */
.custom-link:link, .custom-link:visited, .custom-link:hover, .custom-link:active {
    color:indianred;
    padding: 0;
}